<nav class="bar row navbar navbar-expand-lg">
    <a class="col-md-1 navbar-brand" href="#">
    </a>
    <div class="col-md-3" style="width: 150px">x</div>
  <div class="search-bar">
    <form class="col-md-8">
      <div class="input-group" style="height: 50px">
        <input type="text" class="form form-control" placeholder="search">
        <div class="input-group-btn">
          <div (click)="$event" class="button">
            <div class="in">
              <i class="bi bi-search"></i>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</nav>


